@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

 *{
        box-sizing: border-box;
 }


 body{
    margin: 0;
    font-family:  Merriweather, sans-serif;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
 }

h1{

   color: #3626A7;
}
 .main-container{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    height: 93%;
    width: 100vw;
 }
 .start-container{
   background-color: #dfdfdf;
   width: 50vw;
   height: 70vh;
   color: black;
   border: 1px solid black;
   border-radius: 10px 50px;
   position: relative;
   box-shadow: 0 4px 6px black;
}
 .questions-container{
   background-color: #dfdfdf;
   width: 50vw;
   height: 70vh;
   color: black;
   border: 1px solid black;
   border-radius: 10px 50px;
   position: relative;
   box-shadow: 0 4px 6px black;
 }

 .rules{

   /* border: 1px solid black; */
   padding: 0 0 0 30px;
    margin: 85px 20px;
 }

 .rules > p {
   text-align: center;
   color: #3626A7;
   font-size: larger;
   font-weight: bold;
 }

 .start-button-section{

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 .start-button{
   font-family: Merriweather, sans-serif;
   /* background-color: #657ED4; */
   text-align: center;
   /* border: none; */
   border-radius: 10px;
   outline: 0;
   font-size: 1.7rem;
   font-weight: 500;
   margin: 0 auto;
 }
 .start-button:hover{

   background-color:#3668c1;
   font-size: 1.8rem;
   cursor: pointer;
 }

 .questionNumber{
   border-bottom: 2px solid;
 }

 .timeScore{
   /* background-color: red; */
   height: 10vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   color: #3626A7;
   font-family: Merriweather, sans-serif;
   font-weight: bold;
   padding: 0 0 0 10px ;

 }

 .displayQuestion{
   /* background-color: rgb(0, 255, 115); */
   height: 15vh;
   border-radius: 2px;
   text-align: center;
   padding: 15px 0 0 0 ;
   color: #3626A7;
   font-family: Merriweather, sans-serif;
   font-size: 1.0rem;
   font-weight: bold;

 }

 .options{

   /* background-color: rgb(72, 0, 255); */
   height: 32vh;
   width: 45vw;

 }

 #optionss > li{
   list-style-type: none;
   margin: 0.7rem ;
   font-weight: 600;
   border-radius: 0.5rem;
   padding: 0.4rem 1.2rem;
   cursor: pointer;
   border: 3px solid #3626A7;
   background-color: #3626A7;
   color: rgb(252, 255, 255);
   box-shadow: 0 4px 0 0 #291d6d;
   transition: var(--transition);
 }

 #optionss >li:hover{

background-color: #657ED4;
color: black;
border-color: #657ED4;
box-shadow: 0 5px 0 0 #bbb;

 }

 #optionss >li:active{
   transform: scale(0.97);
 }

 .selected{

  background-color: #657ED4 !important;
  color: black !important;
  border-color: #657ED4 !important;
  box-shadow: 0 5px 0 0 #bbb !important;
  transform: scale(0.97) !important;

 }

 .end-container{

   /* background-color: rgb(221, 255, 0); */
   height: 10vh;
   text-align: center;
 }
 .reset , .Next {

   color: #291d6d;
   font-family: Merriweather, sans-serif;
   text-align: center;
   /* border: none; */
   /* width: 10vw; */
   border-radius: 10px;
   outline: 0;
   font-size: 1.3rem;
   font-weight: 500;
   margin: 0 10px;
   cursor: pointer;
 }

 .reset:hover , .Next:hover{

      font-size: 1.3rem;
      background-color: #657ED4;
      color: black;
      border-color: #657ED4;
      box-shadow: 0 5px 0 0 #bbb;

 }

 .messsage-container{

    /* background-color: blanchedalmond; */
    text-align: center;
    margin: 15px 0 0 0;
 }

 .gamename{
    text-align: center;
 }

 footer{
    margin: 0;
    border: 2px solid black;
    background-color: #657ED4;
    height: 3.1rem;
    /* width: 100vw; */
    align-content: space-around;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 a{

  color: black;
  padding: 0 0 0 20px ;
  font-size: large;
 }


 /* Media Quary */

 @media(max-width:400px){

  .questions-container{
  width: 90vw;
  margin: 0 auto;
  }

  .options{
    height: auto;
    width: 75vw;
  }


}

 @media (max-width: 999px)  {

  .reset , .Next {
    padding: 0px 0 0px 0;
    width: 13vw;
  }
    
  }



 